.d-flex {
  display: flex;
}

.d-flex-inline {
  display: inline-flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}


.flex-wrap {
  flex-wrap: wrap;
}

.j-between {
  justify-content: space-between;
}

.j-end {
  justify-content: end;
}

.j-around {
  justify-content: space-around;
}

.j-center {
  justify-content: center;
}

.f-direction-col {
  flex-direction: column;
}

.f-direction-row-rv {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink {
  flex-shrink: 0;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-baseline {
  align-items: baseline;
}