@mixin quantity($bg-color) {
  position: absolute;
  left: 60%;
  top: -20%;
  text-align: center;
  padding: 2px 5px;
  background-color: $bg-color;
  border-radius: 50%;
  font-size: 13px;
  border: 2px solid #fff;
}

@mixin badge($color) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 32px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent $color;
  }

  &::after {
    content: attr(data-content);
    position: absolute;
    top: -20%;
    right: 12px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: $color-white;
    background-color: $color;
    height: 24px;
    width: 40px;
  }
}

@mixin dropDownList {
  font-size: 1.1rem;
  background-color: #fff;
  padding: 15px 0;

  @media (max-width: $breakpoints) {
    position: relative;
    width: 100%;
    display: none;
  }

  @media (min-width: 1025px) {
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1000;
    width: 180px;
    display: none;
  }
}

@mixin li {
  border-bottom: 1px solid rgb(241, 241, 241);

  a {
    display: inline-block;
    width: 100%;
    padding: 14px 15px;
    font-size: 1.4rem;
    font-weight: normal;
  }

  &:hover {
    & > a {
      color: #0063d1;

      @media (max-width: $breakpoints) {
        i {
          border: 1px solid #0063d1;
        }
      }
    }
  }

  &:last-child {
    border: none;
  }
}

@mixin separator($color) {
  border-right: 1px solid $color;
}

@mixin styleModal($img) {
  padding: 10px;
  background-image: url($img);
  background-position: bottom right;
  background-position: 130% 220%;
  background-repeat: no-repeat;
  background-size: 436px 318px;

  h3 {
    text-transform: uppercase;

    &::before {
      content: "";
      display: inline-block;
      background-color: $color-orange;
      width: 6px;
      height: 6px;
      margin: 4px 4px 4px 0px;
    }
  }

  [class*="-content"] {
    padding: 20px 5px;

    a {
      color: #777;
      font-weight: 500;
    }
  }
}

@mixin activeImg {
  position: relative;
  overflow: hidden;

  &:hover {
    &::after {
      transform: translate(-70%, 160%) rotate(40deg) scale(2.5, 1.5);
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(70%, -230%) rotate(40deg) scale(3, 1.5);
    transition: all 1.6s ease;
  }
}

@mixin hoverBtn($scale, $colorHover) {
  display: inline-block;
  position: relative;
  background-color: $color-primary;
  color: #fff;
  cursor: pointer;
  overflow: hidden;

  span,
  i {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    right: -100px;
    display: block;
    height: 200px;
    width: 200px;
    background-color: $colorHover;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.2s ease-in;
  }

  &:hover {
    &::after {
      transform: scale($scale);
    }
  }
}

@mixin stylePdDesc {
  [class*="-item-product"] {
    border-right: 1px solid #ededed;
    margin-bottom: 30px;
    height: 100%;

    &:hover {
      img {
        opacity: 0.7;
      }
    }

    .item-product-img-link {
      img {
        transition: all 0.3s ease;
        transform: scale(0.95);
      }
    }

    .item-product-title {
      display: block;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      transition: all 0.3s ease;
      margin-bottom: 10px;

      &:hover {
        color: $color-blue;
      }
    }

    @include stylePrice();
  }
}

@mixin stylePrice {
  .price {
    font-size: 1.8rem;
    margin-right: 4px;
    color: #949292;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
  }

  .discount {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #0564d2;
    line-height: 1.6;
  }
}
@mixin styleHeartLoading($colorHoverHeart, $colorLoading) {
  position: relative;
  margin-right: 4px;
  transition: all 0.3s ease;
  display: inline-block;

  i {
    font-size: 1.6rem;
    transition: all 0.3s ease;
  }

  &:hover {
    i.fa-heart {
      color: $colorHoverHeart;
    }
  }
  .loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    color: $colorLoading;
    animation: loaded infinite 2s linear;
  }
}
@mixin styleProduct {
  @include stylePdDesc();

  [class*="-item-product"] {
    .item-product-img-link {
      margin-left: 10px;
    }

    .item-product-desc {
      width: 70%;
      padding-right: 10px;
      padding-left: 10px;

      .rate {
        margin-bottom: 18px;

        .rate-star {
          i {
            font-size: 1.4rem;
          }
        }

        .rate-heart {
          @include styleHeartLoading(#83b735, #949292);
        }

        i {
          color: $color-primary;
        }
      }
    }
  }
}

@mixin badgeSquareShop($color) {
  &::after {
    content: attr(data-content);
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 6px;
    font-size: 1rem;
    background-color: $color;
    color: #fff;
  }
}

@mixin badgeSquareGallery($color) {
  &::after {
    content: attr(data-content);
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 6px;
    font-size: 1rem;
    background-color: $color;
    color: #fff;
  }
}

@mixin styleNavTabs {
  .content-header {
    border-bottom: 1px solid #e7e7e7;

    @include xs {
      flex-direction: column;
      align-items: center;
      margin: 0 0 30px 0;
    }
    @include sm {
      flex-direction: column;
      align-items: center;
      margin: 0 0 30px 0;
    }
    @include lg {
      flex-direction: row;
      align-items: stretch;
      margin: 0 0 30px 16px;
    }
    h2 {
      font-size: 2.2rem;
      padding-bottom: 12px;
      font-weight: 500;
      @include xs {
        margin-bottom: 16px;
      }
      @include sm {
        margin-bottom: 16px;
      }
      @include lg {
        margin-bottom: 0;
      }
    }
    [class*="nav-tabs-"] {
      @include xs {
        justify-content: center;
      }
      li.nav-item {
        &:not(:last-child) {
          @include xs {
            margin-right: 20px;
          }
          @include sm {
            margin-right: 20px;
          }
          @include lg {
            margin-right: 40px;
          }
        }
        a.nav-link {
          display: inline-block;
          position: relative;
          color: #969696;
          font-weight: 500;
          padding-bottom: 13px;
          height: 100%;
          width: max-content;
          transition: all 0.4s ease;
          font-size: 1.7rem;
          @include sm {
            &::before {
              content: "";
              position: absolute;
              width: 40px;
              height: 2px;
              left: 50%;
              top: 28px;
              transform: translateX(-50%);
              transition: all 0.4s ease;
            }

            &::after {
              content: "";
              position: absolute;
              top: 28px;
              left: 50%;
              transform: translateX(-50%);
              border-style: solid;
              border-width: 8px 5px;
              border-color: transparent transparent transparent transparent;
              transition: all 0.4s ease;
            }
          }
        }
        &:hover {
          a {
            color: $color-primary;
            &::before {
              background-color: $color-primary;
            }

            &::after {
              border-color: $color-primary transparent transparent transparent;
            }
          }
        }
      }
    }
  }
}

@mixin removeProduct {
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.1s ease;
    i {
      color: red;
      font-size: 1.6rem;
      line-height: 20px;
      transition: all 0.1s ease;
    }
    &:hover {
      background-color: red;
      i {
        color: #fff;
      }
    }
  }
}
@mixin styleInputQuantity {
  border: 1px solid #e7e7e7;
  color: rgb(119, 119, 119);
  button {
    cursor: pointer;
    height: 40px;
    padding: 0 20px;
    background-color: #f9f9f9;
  }

  input {
    height: 40px;
    @include xs {
      width: 40px;
    }
    @include sm {
      width: 40px;
    }
    @include md {
      width: 60px;
    }
    text-align: center;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 0 8px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
