.nav {
  margin-top: 10px;
  margin-bottom: 10px;
  .container {
    .nav-content {
      @include xs {
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 10;
        width: 100%;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #e7e7e7;
      }

      @include sm {
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 10;
        width: 100%;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid #e7e7e7;
      }

      @include md {
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        border-bottom: none;
      }

      @media (min-width: $breakpoints) {
        padding-left: 0;
        padding-right: 0;
      }

      .nav-item {
        padding: 10px;

        &.logo {
          img {
          }
        }

        &.nav-menu {
          @include xs {
            width: 30%;
          }

          @include sm {
            width: 60%;
          }

          .nav-bar {
            width: 100%;

            @media (min-width: $breakpoints) {
              display: none;
            }

            @include xs {
              .nav-bar-icon {
                cursor: pointer;
                float: right;
                padding: 10px;

                i {
                  font-size: 2.4rem;
                }
              }
            }

            @include sm {
              .nav-bar-icon {
                cursor: pointer;
                float: right;
                padding: 10px;

                i {
                  font-size: 2.4rem;
                }
              }
            }
          }

          @media (max-width: $breakpoints) {
            .overlay-menu {
              display: none;
              position: fixed;
              transform: translateX(-100%);
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              height: 100%;
              background-color: rgba(55, 55, 55, 0.5);
            }
          }

          @media (min-width: $breakpoints) {
            .overlay-menu {
              display: none;
            }

            .main-menu-bar {
              display: block;
              position: relative;
              z-index: 4;
              transform: translateX(0);
            }

            .menubar-header {
              display: none;
            }
          }

          .main-menu-bar {
            @media (max-width: $breakpoints) {
              display: none;
              position: fixed;
              z-index: 5;
              background-color: #fff;
              max-width: 350px;
              width: 100%;
              left: 0;
              top: 0;
              height: 100%;

              .menubar-header {
                padding: 20px 5px;

                .close-menu-bar {
                  cursor: pointer;
                  margin: 0 10px;
                  padding: 8px 12px;
                  font-size: 1.4rem;
                  border: 1px solid rgba(0, 0, 0, 0.5);
                  border-radius: 5px;
                }
              }
            }

            .nav-list {
              @media (max-width: $breakpoints) {
                overflow-y: auto;
                height: 80vh;

                .nav-list-item {
                  a {
                    padding: 6px 20px 6px 15px;
                  }
                }
              }

              @media (min-width: $breakpoints) {
                position: relative;
                z-index: 3;
                display: flex;
                max-width: 100%;
                height: 100%;

                .nav-list-item {
                  a {
                    padding: 20px 12px;
                  }
                }
              }

              .nav-list-item {
                font-size: 1.4rem;
                width: 100%;

                a {
                  text-transform: capitalize;
                  font-weight: 500;
                  color: $text-color;
                  line-height: 1.5;

                  @media (max-width: $breakpoints) {
                    justify-content: space-between;

                    i {
                      padding: 12px 8px;
                      border: 1px solid #333;
                      border-radius: 15px;
                      font-size: 9px;
                    }
                  }

                  @media (min-width: $breakpoints) {
                    i {
                      font-size: 1.2rem;
                      padding-left: 4px;
                    }
                  }
                }

                &:hover {
                  @media (max-width: $breakpoints) {
                    & > a {
                      color: #0063d1;

                      i {
                        border: 1px solid #0063d1 !important;
                      }
                    }
                  }

                  @media (min-width: $breakpoints) {
                    & > a {
                      color: #0063d1;
                    }
                  }
                }

                &.home {
                  position: relative;

                  @media (min-width: $breakpoints) {
                    &:hover {
                      .dropdown-home {
                        display: block;
                        --x: -29%;
                        animation: showHome 0.5s forwards;
                      }
                    }
                  }

                  .dropdown-home {
                    height: 610px;
                    overflow-y: auto;
                    @media (max-width: $breakpoints) {
                      display: none;
                    }

                    @media (min-width: $breakpoints) {
                      width: 1000px;
                      position: absolute;
                      transform: translate(-29%, -10px);
                      display: none;
                    }

                    @include xl {
                      width: 1100px;
                      transform: translate(-32%, -10px);
                      display: none;
                    }

                    padding: 24px;
                    background-color: #fff;

                    .dropdown-home-item {
                      padding-right: 16px;

                      .content-item {
                        display: inline-block;
                        padding: 6px;
                        // border: 1px solid $color-gray;
                        border: 1px solid #f0f0f0;
                        cursor: pointer;

                        h4 {
                          padding: 20px;
                          font-size: 1.5rem;
                          text-align: center;
                          font-weight: 500;
                        }
                      }
                    }
                  }
                }

                &.pages {
                  position: relative;

                  @media (min-width: $breakpoints) {
                    &:hover {
                      .dropdown-pages {
                        display: block;
                        animation: showDropdown 0.5s forwards;
                      }
                    }
                  }

                  .dropdown-pages {
                    left: 0;
                    @include dropDownList();

                    li {
                      @include li();

                      @media (max-width: $breakpoints) {
                        a {
                          padding-right: 20px;
                        }
                      }

                      &.pages-products {
                        position: relative;

                        @media (min-width: $breakpoints) {
                          &:hover {
                            .dropdown-products {
                              display: block;
                              animation: showDropdown 0.5s forwards;
                            }
                          }
                        }

                        a {
                          display: flex;
                          justify-content: space-between;

                          i {
                            line-height: 1.5;
                          }
                        }

                        .dropdown-products {
                          top: 0;
                          @include dropDownList();

                          @media (max-width: $breakpoints) {
                            left: 0;
                          }

                          @media (min-width: $breakpoints) {
                            left: 100%;
                          }
                        }
                      }
                    }
                  }
                }

                &.shop {
                  position: relative;

                  @media (min-width: $breakpoints) {
                    &:hover {
                      .dropdown-shop {
                        display: block;
                        animation: showDropdown 0.5s forwards;
                      }
                    }
                  }

                  .dropdown-shop {
                    @include dropDownList();

                    li {
                      @include li();
                    }
                  }

                  a {
                    @media (max-width: $breakpoints) {
                      position: relative;

                      &.badge {
                        @include badgeSquareShop($color-green);
                      }
                    }

                    @media (min-width: $breakpoints) {
                      &.badge {
                        @include badge($color-green);
                      }
                    }
                  }
                }

                &.blog {
                  @media (min-width: $breakpoints) {
                    &:hover {
                      .dropdown-blog {
                        display: block;
                        animation: showDropdown 0.5s forwards;
                      }
                    }
                  }

                  .dropdown-blog {
                    @include dropDownList();

                    li {
                      @include li();
                    }
                  }
                }

                &.gallery {
                  position: relative;

                  @media (min-width: $breakpoints) {
                    &:hover {
                      .dropdown-gallery {
                        display: flex;
                        --x: -59%;
                        animation: showHome 0.3s forwards;
                      }
                    }
                  }

                  a {
                    &.badge {
                      @media (max-width: $breakpoints) {
                        position: relative;

                        &.badge {
                          @include badgeSquareGallery($color-primary);
                        }
                      }

                      @media (min-width: $breakpoints) {
                        &.badge {
                          @include badge($color-primary);
                        }
                      }
                    }
                  }

                  .dropdown-gallery {
                    @media (max-width: $breakpoints) {
                      position: relative;
                      display: none;
                      width: 100%;
                      background: url(../images/menu-bg-wave.png) no-repeat
                        right bottom/auto;
                      background-color: #1e212a;
                    }

                    @media (min-width: $breakpoints) {
                      display: none;
                      width: 1000px;
                      position: absolute;
                      transform: translate(-59%, -10px);
                      background: url(../images/menu-bg-wave.png) no-repeat
                        top/cover;
                      background-color: #1e212a;
                    }

                    @include xl {
                      width: 1100px;
                    }

                    display: none;
                    padding: 40px;

                    .dropdown-gallery__item {
                      width: 100%;
                      padding: 10px;

                      h3 {
                        color: #fff;
                        font-size: 1.8rem;
                      }

                      span {
                        display: inline-block;
                        color: #999;
                        margin: 15px 0;
                        font-size: 1.2rem;
                      }

                      & > p {
                        color: #7a7a7a;
                        line-height: 1.5;
                      }

                      .theme-elements {
                        width: 100%;
                        border-left: 2px solid #2f323c;

                        .theme-elements__item {
                          width: 100%;

                          a {
                            position: relative;
                            width: 100%;
                            display: inline-block;
                            color: rgba(255, 255, 255, 0.8);
                            padding: 10px 15px;
                            transition: all 0.3s;
                          }

                          a::after {
                            content: "";
                            display: block;
                            position: absolute;
                            opacity: 0;
                            left: -2px;
                            top: 0;
                            width: 2px;
                            height: 100%;
                            background-color: #0063d1;
                            transition: all 0.4s ease;
                          }

                          &:hover {
                            a {
                              color: #fff;

                              &::after {
                                opacity: 1;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.detail-products-putchared {
          .favorite-products {
            margin-right: 20px;

            a {
              position: relative;
              display: inline-block;

              i {
                @include xs {
                  font-size: 3rem;
                }

                @include sm {
                  font-size: 3rem;
                }

                @include md {
                  font-size: 3.6rem;
                }
              }

              .quantity-favorite {
                @include quantity($color-bg-header);
              }
            }
          }

          .cart {
            > a {
              position: relative;
              display: inline-block;

              > i {
                @include xs {
                  font-size: 3rem;
                }

                @include sm {
                  font-size: 3rem;
                }

                @include md {
                  font-size: 3.2rem;
                }
              }

              .quantity-products-cart {
                @include quantity($color-primary);
                color: $color-white;
              }
            }
            .overlay-shopping-cart {
              display: none;
              position: fixed;
              z-index: 4;
              top: 0;
              right: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.9);
            }
            .shopping-cart {
              display: none;
              position: fixed;
              overflow-y: auto;
              top: 0;
              right: 0;
              z-index: 5;
              width: 100%;
              max-width: 360px;
              height: 100vh;
              background-color: #fff;
              padding: 10px 30px;
              font-family: "Roboto", sans-serif;
              .shopping-cart-header {
                border-bottom: 1px solid #e7e7e7;
                padding: 20px 0;
                .title {
                  font-size: 1.8rem;
                  font-weight: 600;
                }
                .close-shopping-cart {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  background-color: #d7d7d7;
                  border-radius: 50%;
                  text-align: center;
                  i {
                    line-height: 30px;
                    font-size: 2rem;
                    transition: all 0.1s ease;
                  }
                  &:hover {
                    i {
                      color: #0056b3;
                    }
                  }
                }
              }
              .shopping-cart-content {
                margin-top: 20px;
                .no-products {
                  font-size: 1.4rem;
                  font-weight: 500;
                }
                .shopping-cart-list {
                  .row {
                    width: 100%;
                    flex: 1;
                    .shopping-cart-item-product {
                      font-size: 1.4rem;
                      padding: 0;
                      &:not(:last-child) {
                        border-bottom: 1px solid #d7d7d7;
                      }
                      padding: 10px 0 10px 80px;
                      position: relative;
                      .item-product-img-link {
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        left: 0;
                        height: 100%;
                        background-color: #fff;
                      }
                      .item-product-desc {
                        width: 100%;
                        height: 100%;
                        .item-product-title {
                          display: inline-block;
                          color: #007bff;
                          font-weight: 500;
                          line-height: 2.4rem;
                        }
                        .item-product-remove {
                          @include removeProduct();
                        }
                        .item-product-quantity {
                          padding: 10px 0 8px 0;
                          .price {
                            color: #0564d2;
                            font-weight: 500;
                          }
                        }
                      }
                    }
                  }
                  .subtotal {
                    padding: 20px 0;
                    p {
                      font-size: 1.4rem;
                      font-weight: 500;
                      span {
                        color: #0056b3;
                      }
                    }
                  }
                  .btn-group {
                    a {
                      padding: 14px 35px;
                      border-radius: 50px;
                      @include hoverBtn(1.5, $color-green);
                      &.btn-view-cart {
                        margin-right: 16px;
                      }
                      span {
                        font-size: 1.2rem;
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
