.owl-carousel#slider1 {
  z-index: 0;
  .owl-stage-outer {
    .owl-stage {
      .owl-item {
        &.active {
          h2 {
            animation: showText 1s 1s forwards ease;
          }

          .text-desc {
            animation: showText 2s 2s forwards ease;
          }

          .btn-view-collection,
          .btn-categories {
            animation: showText 1.5s 2s forwards ease-out;
          }
        }

        .slider1-item {
          height: 100%;

          [class*="slider1-item"] {
            width: 100%;

            @include xs {
              height: 600px;
            }

            @include sm {
              height: 510px;
            }
            .item1-text {
              h2 {
              }
            }
          }
        }
      }
    }
  }

  .owl-dots {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    button {
      span {
        width: 13px;
        height: 13px;
      }
    }
  }
}

.owl-theme#slider1 .owl-dots .owl-dot.active span,
.owl-theme#slider1 .owl-dots .owl-dot:hover span {
  background: $color-blue;
}

//custom slider2
.owl-carousel#slider2 {
  height: 100%;

  .owl-stage-outer {
    height: 100%;

    .owl-stage {
      height: 100%;

      .owl-item {
        height: 100%;

        &.active {
        }

        .slider2-item {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }
  }

  .owl-dots {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    button {
      span {
        background: rgba(51, 62, 72, 0.5);
        opacity: 0.2;
        width: 8px;
        height: 8px;
      }
    }
  }
}

.owl-theme#slider2 .owl-dots .owl-dot.active span {
  background: $color-primary;
  opacity: 1;
}

.owl-carousel#slider3 {
  .owl-stage-outer {
    & > .owl-stage {
      & > .owl-item {
        width: 100%;

        [class*="-item"] {
          width: 100%;
        }

        &.active {
          [class*="-item"] {
            .row {
              animation: none;
            }
          }
        }
      }
    }
  }

  .owl-nav {
    margin-top: 0;
    position: absolute;
    top: -25%;
    right: 0;

    @include xs {
      display: none;
    }

    @include sm {
      display: none;
    }

    @include lg {
      display: flex;
    }

    button {
      padding: 10px 0 !important;
      opacity: 1;
      font-size: 2.6rem;
      color: #d5d5d5;

      i {
        transition: all 0.4s ease;
      }
    }
  }
}
.owl-theme#slider3 .owl-nav [class*="owl-"]:hover {
  background: none;

  i {
    color: #0063d1;
  }
}
