$color-primary: #fed700;
$color-bg-header: #f5f5f5;
$text-color: #222;
$color-gray: #ccc;
$color-white: #fff;
$color-green: #83b735;
$color-blue: #0063d1;
$color-border: #e7e7e7;
$color-orange: #ffb25d;
$breakpoints : 1025px;