@import "media";
@mixin containerScreen {
  @media (min-width: 1400px) {
    @content;
  }
}

.container {
  @include xl {
    padding: 0 4%;
  }
  @media screen and (min-width: 1400px) and (max-width: 1521px) {
    box-sizing: content-box;
  }
  @media (min-width: calc(1400px + 120px)) {
    padding: 0;
  }
}

body {
  header {
    .header-top {
      .header-top-content {
        @include md {
          padding-left: 10px;
          padding-right: 10px;
        }
        @include containerScreen {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    nav {
      .nav-content {
        @include md {
          padding-left: 10px;
          padding-right: 10px;
        }
        @include containerScreen {
          padding-left: 0;
          padding-right: 0;
        }
        .nav-list {
        }
      }
    }
    .section-search {
      .section-search-content {
        @include xl {
          padding-left: 10px;
          padding-right: 10px;
        }
        @include containerScreen {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  main {
    .advertisement .container .advertisement-content #slider1 .slider1-item {
      @include xl {
        // height: 39vw;
      }
      .item1-text {
        @include xl {
          h2 {
            font-size: 1.7rem;
          }
          .text-desc {
            font-size: 3rem;
          }
        }
        @include containerScreen {
          h2 {
            font-size: 2.2rem;
          }
          .text-desc {
            font-size: 3.6rem;
          }
        }
      }
    }
  }
}
